#action-next,
#action-prev {
  opacity: 0.3;
  font-size: 5em;
  height: 100%;
  width: 100%;
}

dialog[open] {
  display: grid;
}
dialog {
  border-width: 1px;
  border-radius: 13px;
  place-items: center;
  grid-template-rows: 1fr 4fr;
  width: clamp(60vw, 400px, 90vw);
  height: 50%;
}
dialog::backdrop {
  backdrop-filter: blur(20px);
}

.explanation {
  font-size: clamp(2vw, 42px, 5em);
}
